<a href="https://colab.research.google.com/github/jinwook8910/BaekJoon_ProblemSolving/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import numpy as np
import pandas as pd

In [104]:
pbr = pd.read_excel('코스피_PBR.xlsx')
pbr_symbol = pbr[7:8] #symbol 추출
pbr_symbol = pbr_symbol.transpose() 

pbr = pbr[14:15] #pbr 추출
pbr = pbr.transpose()

pbr_2 = pd.concat([pbr_symbol,pbr], axis=1) #열 결합
pbr_2 = pbr_2.iloc[1:,0:]
pbr_2.columns = ['Symbol', 'pbr']


pbr_sorted = pbr_2.sort_values(by='pbr' ,ascending=True) #내림차순 pbr 정렬

pbr_sorted.dropna(axis=0, inplace=True) #NaN값(영업이익 0이하) 제거, NaN값이 하나라도 있는 row(index) 제거

pbr_sorted = pbr_sorted[pbr_sorted['pbr']>0.25] # 0.25이하 제거

pbr_sorted = pbr_sorted.iloc[:50] # 50개 추출

pbr_sorted

               Symbol      pbr
Unnamed: 169  A003240  0.28284
Unnamed: 49   A024110   0.2999
Unnamed: 62   A004020  0.30428
Unnamed: 118  A138930  0.31341
Unnamed: 28   A032830  0.32112
Unnamed: 162  A000670   0.3469
Unnamed: 160  A000210   0.3504
Unnamed: 91   A004990  0.35478
Unnamed: 34   A316140  0.35775
Unnamed: 79   A078930  0.35987
Unnamed: 23   A086790  0.36575
Unnamed: 140  A069960  0.38344
Unnamed: 195  A006120  0.38746
Unnamed: 197  A057050  0.39231
Unnamed: 155  A000240  0.39899
Unnamed: 89   A036460  0.40009
Unnamed: 82   A139480  0.40987
Unnamed: 15   A055550  0.41003
Unnamed: 103  A001450  0.42307
Unnamed: 190  A005440  0.44084
Unnamed: 199  A002350  0.44439
Unnamed: 11   A005490  0.45211
Unnamed: 87   A029780  0.46097
Unnamed: 191  A001800  0.47375
Unnamed: 149  A006260  0.47546
Unnamed: 196  A000070  0.49443
Unnamed: 44   A030200   0.4998
Unnamed: 53   A011170  0.51615
Unnamed: 184  A103140  0.51848
Unnamed: 12   A105560  0.52405
Unnamed: 178  A294870  0.52439
Unnamed: 168  A001740  0.52637
Unnamed: 100  A002380  0.53418
Unnamed: 187  A006040  0.55777
Unnamed: 50   A402340  0.56351
Unnamed: 157  A001120  0.56465
Unnamed: 153  A001230  0.56571
Unnamed: 32   A003550  0.56857
Unnamed: 122  A001040  0.57043
Unnamed: 85   A005940  0.57793
Unnamed: 67   A005830  0.58221
Unnamed: 174  A006650  0.58516
Unnamed: 75   A161390  0.59882
Unnamed: 41   A000810  0.60261
Unnamed: 120  A375500   0.6126
Unnamed: 65   A006800  0.62097
Unnamed: 76   A267250  0.62312
Unnamed: 125  A000880  0.63464
Unnamed: 143  A011210  0.64608
Unnamed: 86   A016360  0.65937

In [95]:
per = pd.read_excel('코스피_PER.xlsx')
per_symbol = per[7:8]
per_symbol = per_symbol.transpose()
per_symbol

per = per[14:15]
per = per.transpose()
per

per_2 = pd.concat([per_symbol,per], axis=1)
per_2 = per_2.iloc[1:,0:]
per_2.columns = ['Symbol', 'per']


per_sorted = per_2.sort_values(by='per' ,ascending=False)

per_sorted.dropna(axis=0, inplace=True) #NaN값(영업이익 0이하) 제거, NaN값이 하나라도 있는 row(index) 제거

# per_sorted_2 = per_sorted.set_index("Symbol")
per_sorted

               Symbol        per
Unnamed: 114  A336260  451.80723
Unnamed: 77   A180640   238.9663
Unnamed: 95   A052690  197.45859
Unnamed: 4    A207940  151.80017
Unnamed: 199  A002350  147.45946
...               ...        ...
Unnamed: 82   A139480    2.67978
Unnamed: 161  A042670    2.64678
Unnamed: 79   A078930     2.5554
Unnamed: 24   A011200    2.46487
Unnamed: 160  A000210    1.46542

[179 rows x 2 columns]

In [101]:
lists = pd.merge(pbr_sorted, per_sorted)
lists = lists.sort_values(by='per' ,ascending=True) #내림차순 per 정렬
lists = lists[:20] #20개 나열


lists_f = lists.set_index("Symbol")
lists_f

             pbr      per
Symbol
A000210   0.3504  1.46542
A078930  0.35987   2.5554
A139480  0.40987  2.67978
A001230  0.56571  2.75621
A001120  0.56465  2.92857
A024110   0.2999  3.39671
A000880  0.63464  3.41193
A316140  0.35775  3.55566
A086790  0.36575  3.58053
A103140  0.51848  3.58771
A005490  0.45211  3.61673
A003240  0.28284   3.6552
A000070  0.49443  3.66373
A004020  0.30428   3.7438
A036460  0.40009  3.79639
A005940  0.57793  4.07536
A016360  0.65937  4.15354
A375500   0.6126  4.42457
A006120  0.38746  4.44524
A055550  0.41003  4.89001

In [102]:
ticker_name = pd.read_excel('https://github.com/SNMHZ/DART_8TH/raw/master/mock_investing/data/ticker_name.xlsx', index_col=0)

In [103]:
print(ticker_name[lists_f.index].iloc[0].to_list())

['DL', 'GS', '이마트', '동국제강', 'LG상사', '기업은행', '한화', '우리금융지주', '하나금융지주', '풍산', 'POSCO', '태광산업', '삼양홀딩스', '현대제철', '한국가스공사', 'NH투자증권', '삼성증권', 'DL이앤씨', 'SK디스커버리', '신한지주']