<a href="https://colab.research.google.com/github/jinwook8910/BaekJoon_ProblemSolving/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
profit = pd.read_excel('영업이익.xlsx')
trade = pd.read_excel('거래대금.xlsx')
profit

,Unnamed: 0,A005930,A000660,A035420,A207940,A051910,A035720,A006400,A005380,A000270,...,A071950,A010640,A005030,A001420,A012600,A001770,A008500,A019490,A002420,A010580
0,2020-12-31,35993876000,5012624000,1.215342e+09,2.927866e+08,1798159000,4.558555e+08,6.713354e+08,2394671000,2066457000,...,-2160878.81,2242712.78,-4508061.69,-642354.34,-6031329.28,187172.48,-7342535.94,-19412562.44,-1202523.19,-4182944.82
1,2019-12-31,27768509000,2719179000,1.155025e+09,9.174239e+07,825415000,2.067862e+08,4.621765e+08,3605505000,2009680000,...,3080909.38,3103548.92,-8926702.19,68380.53,-7926535.40,1013611.54,-16332932.45,-15284913.62,-456521.47,-4586896.75
2,2018-12-31,58886669000,20843750000,9.425326e+08,5.567874e+07,2246070000,7.294889e+07,7.149706e+08,2422165000,1157475000,...,1232092.00,1110591.98,-6859264.59,45832.46,-6037760.98,3180504.70,-8356268.00,-976883.97,-386636.32,2497105.97